* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  display: flex;
  background-color: violet;
  align-items: center;
  justify-content: center;
}

.links ul {
  display: flex;
  margin: 20px;
  gap: 20px;
}

.links li {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: white;
}
